<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <title>LearnMate - Empowering Your Learning Journey</title>
</head>
<body>

    <header id="header">
        <img src="learn-mate-high-resolution-logo-black-transparent (1).png" id="logo" alt="LearnMate logo" width="200" href="newhome.html">
        
        <div class="buttons">
            <div class="dropdown">
                <button class="dropbtn">Try Now</button>
                <div class="dropdown-content">
                    <a href="/video">Search in a YouTube video</a>
                    <a href="#document.html">Summarize Your Doc</a>
                </div>
            </div>
            <button>Contact Us</button>

        </div>
    </header>
    <br>

    <section id="welcome">
        <center>
            <h1>Welcome to LearnMate</h1>
            <p style="left: 20px">
                <h4>
                    <i>                    
                        Your personalized learning companion designed to empower your educational journey. 
                    </i>
                </h4>
                <br>
                <p id="about-short">
                    LearnMate revolutionizes your learning journey with advanced technology. From auto-captioning YouTube videos to quick document summarization, we offer a seamless learning experience. 
                    <br>Our smart search ensures rapid access to valuable information. Tailor quizzes to your content and enjoy personalized, accessible, and enriching education with LearnMate
                </p>
                
            </p>

        </center>
    </section>

    <section id="get-started"> 
        <h2 style="color: black;">Ready to Elevate Your Learning?</h2>
        <b>
            Get started with LearnMate today and embark on a journey of personalized and efficient learning.
        </b>
        <br>
        <br>
    
        <a href="#keyfeatures">
            <button>Explore Features</button>
        </a>
    </section>
    <br>
    <br>
    <br>
    <center id ="keyfeatures">
        <h2>Key Features</h2>
    </center>

    <section id="features">
        
        <br>
        <div class="feature">
            <h3>Smart Captioning</h3>
            <p>Transform spoken words into written text. Automatically generate captions for YouTube videos or utilize existing captions to make content more accessible.</p>
        </div>

        <div class="feature">
            <h3>Search Within Content</h3>
            <p>Effortlessly find specific information within videos or documents. Our advanced search functionality lets you pinpoint keywords or phrases for quick and efficient learning.</p>
        </div>

        <div class="feature">
            <h3>Quiz Creation</h3>
            <p>Enhance your understanding and retention by creating quizzes directly from your content. Personalized quizzes tailored to your learning material.</p>
        </div>

        <div class="feature">
            <h3>Learn at Your Own Pace</h3>
            <p>Navigate through transcripts, summaries, and detailed explanations. LearnMate adapts to your learning style, making education a personalized and enriching experience.</p>
        </div>
    </section>

    <footer>
        <img src="learn-mate-high-resolution-logo-black-transparent (1).png"  alt="LearnMate logo" height="50" width="100" href="newhome.html">
        
        <p style="color: black;">
            © 2023 LearnMate | Created by Ramakrishnan B
        </p>        
        <a href="#header">
            <button style="align-self: center;">Move to Top</button>
        </a>
    </footer>
</body>
</html>
